* {
    border-color: rgba(0, 188, 255, 0.3);
}

.custom-overflow-y-hide {
    overflow-y: hidden;
}
.custom-overflow-x-hide {
    overflow-x: hidden;
}
.custom-overflow-hide {
    overflow: hidden;
}
.custom-overflow-visible {
    overflow: visible;
}
.custom-overflow-y-scroll {
    overflow-y: scroll;
}

.custom-nav-item {
    font-size: 16px;
    white-space: nowrap;
}
.custom-nav-item-sm {
    font-size: 14px;
    overflow-y: hidden;
}
.custom-nav-item-wrap-sm {
    display: inline-block;
    height: 36px;
}
.custom-nav-modal {
    padding: 1rem;
}
@media (min-width: 1024px) {
    .custom-nav-hide {
        display: none;
    }
}

header {
    overflow-x: visible;
}

.custom-preloader {
    margin: 0 auto 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-z-top {
    z-index: 9999999;
}

.custom-important-note {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
}

.custom-important-note-svg {
    margin-top: 2px;
}

.custom-footer-flex {
    align-items: flex-start;
    gap: 32px;
}
.custom-footer-flex-inner {
    justify-content: center;
}

@media (max-width: 1023px) {
    .custom-footer-flex {
        gap: 0;
        align-items: flex-start;
    }
    .custom-footer-flex-inner {
        justify-content: flex-start;
    }
    .custom-footer-flex-reg {
        text-align: start;
        margin-bottom: 0;
    }
}

.custom-gap16 {
    gap: 16px;
}

.custom-flex-column {
    display: flex;
    flex-direction: column;
}

.custom-height-100 {
    height: 100%;
}

.custom-justify-sb {
    justify-content: space-between;
}

.custom-flex-grow-2 {
    flex-grow: 2;
}

.custom-flex-shrink-0 {
    flex-shrink: 0;
}

.custom-underline {
    text-decoration: underline;
}

.custom-object-contain {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-object-contain svg {
    object-fit: contain;
}

.custom-alighn-self-end {
    align-self: flex-end;
}

@media (min-width: 1024px) {
    .custom-pc-hide {
        display: none;
    }
}
@media (max-width: 1023px) {
    .custom-mobile-hide {
        display: none;
    }
}

@media (min-width: 1024px) {
    .custom-width-50 {
        width: 50%;
    }
}

#custom-webinars-id .custom-display-none-video {
    display: none;
}
#custom-rewiews-id .custom-padding-top-100-video {
    padding-top: 100px;
}
#custom-rewiews-id .custom-max-height-video {
    max-height: clamp(420px, calc(100vh - 80px - 40px - 102px), 550px) !important;
}
#custom-rewiews-id .custom-max-width-video {
    max-width: calc(100% - 1.5rem - 189px);
}

@media (max-height: 820px) {
    #custom-rewiews-id .custom-display-none-video-top {
        display: none;
    }
}
@media (max-height: 700px) {
    #custom-rewiews-id .custom-max-width-video {
        max-width: calc(100% - 1.5rem - 189px - 25vh);
    }
    #custom-rewiews-id .custom-justify-video {
        justify-content: space-between;
    }
}

.custom-margin-top-16 {
    margin-top: 16px;
}
.custom-margin-left-7 {
    margin-left: 7px;
}
.custom-margin-top-40 {
    margin-top: 40px;
}
.custom-padding-top-80 {
    padding-top: 80px;
}

.custom-padding-right-24 {
    padding-right: 24px;
}

.custom-inset-height-100 {
    left: 0;
    right: 0;
    top: 0;
    min-height: 120vh;
    height: fit-content;
    overflow-y: scroll;
}

.custom-no-poiner-events,
.custom-after-before-no-poiner-events::after,
.custom-after-before-no-poiner-events::before {
    pointer-events: none;
}

@media (min-width: 1024px) {
    .custom-pc-min-height-535 {
        min-height: 535px;
    }
}

.custom-max-width-550 {
    max-width: 550px;
}

.custom-margin-top-auto {
    margin-top: auto;
}

.custom-logo-bg {
    background: linear-gradient(130deg, #dee5eb, #66a6e2);
}

.custom-focus {
    border: 10px solid red !important;
}

.custom-news-card {
    height: initial;
    width: 100%;
    aspect-ratio: 3 / 2;
}

@media (max-width: 1023px) {
    .custom-mobile-margin-left-0 {
        margin-left: 0 !important;
    }
}

@media (max-width: 1023px) {
    .custom-mobile-overflow-visible {
        overflow: visible;
    }
}

@media (max-width: 1023px) {
    .custom-mobile-padding-sides-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
@media (max-width: 1023px) {
    .custom-mobile-width-100 {
        width: 100%;
    }
}

div::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}
div::-webkit-scrollbar-track {
    margin: 0 10px;
    background-color: #1c4263;
    border-radius: 10px;
}
div::-webkit-scrollbar-thumb {
    background-color: #2085aa;
    border-radius: 10px;
    border: 2px solid transparent;
}
div::-webkit-scrollbar-thumb:hover {
    background-color: #338bf1;
}
div::-webkit-scrollbar-thumb:active {
    background-color: #338bf1;
}

#contact input {
    height: 44px;
}

#custom-id-adverse-reaction-form input,
#custom-id-adverse-reaction-form select{
    height: 44px;
}

@media (max-width: 767px) {
    #custom-id-adverse-reaction-form input,
    #custom-id-adverse-reaction-form select{
    width: 100%;
    }
}